:root {
    --color-main: #07441d;
    --color-main-2: #446e53;
    --color-main-3: #81988a;
    --color-main-4: #eaeeeb;

    --color-main-transparent: #07441d35;
    --white: #f3f3f3;

    /* Tipografía */
    --font-head: "Montserrat";
    --font-body: "Roboto";
    --font-narrow: "Roboto Condensed";
    --font-mono: "Roboto Mono";

    --color-text-1: #292b2a;
    --color-text-2: #6f7371;
}

body {
    background-color: #f5f6ff;
    background-image: linear-gradient(135deg, #f6fff5 0%, #fdfeff 100%);

    /* Position the page inside */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    position: relative;

}

.page {
    /* Set A4 paper dimensions */
    --a4-height: 29.7cm;
    --a4-width: 21cm;
    width: var(--a4-width);
    height: var(--a4-height);

    /* Center the page in the screen */
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    /* Add realistic paper page features */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.1),
        0 25px 50px rgba(0, 0, 0, 0.05);

    /* Organize inner contents */
    position: relative;
    display: grid;
    grid-template-columns: 47% auto;
    padding: var(--outter-margin) var(--inner-margin);
    color: var(--color-text-1);
}

/* Make page responsive */
@media (max-width: 767px) {
    .page {
        grid-template-columns: 1fr;
    }
}

/* Basic HTML tags */
strong {
    font-weight: bold;
}

small {
    font-size: 85%;
    color: var(--color-text-2);
}

a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(var(--color-main-transparent) 0%, var(--color-main-transparent) calc(100% - 2px), transparent calc(100% - 2px), transparent 100%);
    transition: background-size 300ms ease;
    background-size: 100% 4px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

a:hover {
    background-size: 100% 100%;
}

/* Layout */
.aside,
.main {
    padding: 2rem;
}

.aside {
    background-color: var(--color-main-4);
}

.main {
    background-color: white;
}

/* .cv-header, */
.section {
    margin-block: 1rem;
    display: flex;
    gap: .5rem;
}

/* Header */
.cv-header {
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pic {
    flex-basis: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.title {
    color: var(--color-main-2);
}

h1 {
    font-family: var(--font-head);
    font-size: 1.5rem;
    font-weight: 200;
    /* text-align: center; */
}

/* Sections */
h2 {
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: .2rem;
    border-bottom: 2px solid var(--color-main);
    color: var(--color-main);
}

.section {
    font-family: var(--font-narrow);
    flex-direction: column;
}

dl:not(:first-child) {
    margin-top: 1rem;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .2rem 1rem;
}

dt {
    font-family: var(--font-body);
    font-weight: 600;
}

dd {
    margin: 0;
    align-content: center;
}

p {
    margin-block: .3rem;
    text-wrap: pretty;
}

p:first-child {
    margin-top: 0;
}

ul {
    margin-block: .3rem;
}

li {
    text-wrap: pretty;
}

/* Experiences */
h3 {
    /* font-family: var(--font-head); */
    font-family: var(--font-body);
    font-weight: bold;
    color: var(--color-main);
}

.institution,
.location,
.time {
    font-family: var(--font-body);
    color: var(--color-main-2);
}

.institution,
.location {
    font-size: .7rem;
}

.institution {
    font-weight: bold;
}

.location::before {
    content: "(";
}

.location::after {
    content: ")";
}

.time {
    margin-left: auto;
    font-size: .6rem;
    flex-shrink: 0;
}

/* Tags */
.tags {
    display: flex;
    gap: .3rem .4rem;
    align-items: start;
    flex-wrap: wrap;
    margin-block: .5rem;

    font-family: var(--font-mono);
    font-size: .6rem;
    font-weight: bold;
}

.tags li {
    color: var(--color-main-2);
    padding: .2rem .4rem;
    border-radius: 4px;
}

.main .tags li {
    background-color: var(--color-main-4);
}

.aside .tags li {
    background-color: white;
}

/* Last updated */
.last-updated {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background-color: white;

    font-style: italic;
    color: var(--color-main-3);
    font-size: .6rem;
}

@media print {
    .last-updated {
        display: block;
    }
}

/* Buttons */
.buttons-web {
    position: fixed;
    inset: auto 0 0 0;
    background-color: var(--color-main-4);
    border-top: 1px solid var(--color-main-3);
    padding: .3rem .5rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.button-anchor {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: .8rem;
    color: var(--color-text-2);
    border-radius: 8px;
    overflow: hidden;
}

.button-icon {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.button-icon svg {
    color: var(--color-main-2);
}

/* Utils */
.space-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.certificated {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.certificated a {
    font-size: .6rem;
    color: var(--color-main-3);
    text-transform: uppercase;
}

dd.certificated {
    flex-direction: revert;
    justify-content: space-between;
}

.indent {
    text-indent: .5rem;
}

.narrow-2 {
    letter-spacing: -.2px;
}

.narrow-5 {
    letter-spacing: -.5px;
}

@media print {
    .no-print {
        display: none;
    }
}

/* List Timeline */
.list-timeline {
    list-style: circle none outside;
    padding-left: 1rem;
    position: relative;
    --padding-left: 1rem;
    --bullet-size: .6rem;
    --translate-y: .3rem;
}

.list-timeline::before {
    content: "";
    position: absolute;
    top: var(--translate-y);
    bottom: 0;
    left: calc(var(--bullet-size) / 2);
    border-left: 2px solid var(--color-main-3);
}

.list-timeline>li::before {
    content: "";
    position: absolute;
    width: var(--bullet-size);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    background-color: white;
    transform: translate(calc(-1 * var(--padding-left)), var(--translate-y));
}

.list-timeline>li:not(:last-child) {
    margin-bottom: 1rem;
}

/* List Regular */
.list-regular {
    list-style: disc none outside;
    list-style-type: disc;
    padding-left: var(--padding-left);
    --padding-left: 1rem;
    --translate-y: .4rem;
}

.list-regular>li::before {
    content: "";
    position: absolute;
    width: .3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-main);
    transform: translate(calc(-.8 * var(--padding-left)), var(--translate-y));
}

.list-regular>li:not(:last-child) {
    margin-bottom: .5rem;
}

ul .list-regular>li:not(:last-child) {
    margin-bottom: 0;
}