:root {
    /* --main: #00290f;
    --space: 1rem;
    --header-height: 22mm;
    --outter-margin: 16mm;
    --inner-margin: 9mm;
    --text-align: left;
    --color-border: #919994; */

    --color-text-1: #292b2a;
    --color-text-2: #6f7371;
}


body {
    background-color: #fff5f7;
    background-image: linear-gradient(135deg, #f6fff5 0%, #fdfeff 100%);
}

.page {
    width: 21cm;
    height: 29.7cm;
    /* hyphens: manual; */

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    /* grid-template-columns: 38.1953% auto; */
    grid-template-columns: 47% auto;

    padding: var(--outter-margin) var(--inner-margin);

    /* border: 1px solid black; */
    color: var(--color-text-1);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.1),
        0 25px 50px rgba(0, 0, 0, 0.05);

    overflow: hidden;
}

/* Basic HTML tags */
strong {
    font-weight: bold;
}

small {
    font-size: 85%;
    color: var(--color-text-2);
}

/* a {
    position: relative;
    display: inline;
}

a::before {
    content: '';
    background-color: var(--color-main-transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: height 300ms ease;
}

a:hover::before {
    height: 100%;
} */

a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(var(--color-main-transparent) 0%, var(--color-main-transparent) calc(100% - 2px), transparent calc(100% - 2px), transparent 100%);
    transition: background-size 300ms ease;
    background-size: 100% 4px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

a:hover {
    background-size: 100% 100%;
}



/* Layout */
.aside,
.main {
    padding: 2rem;
}

.aside {
    background-color: var(--color-main-4);
}

.main {
    background-color: white;
}

/* .cv-header, */
.section {
    margin-block: 1rem;
    display: flex;
    gap: .5rem;
}

/* Header */
.cv-header {
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

.title {
    color: var(--color-main-2);
}

.pic {
    margin: auto;
    max-width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

h1 {
    font-family: var(--font-head);
    font-size: 1.5rem;
    font-weight: 200;
    /* text-align: center; */
}

/* Sections */
h2 {
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: .2rem;
    border-bottom: 2px solid var(--color-main);
    color: var(--color-main);
}

.section {
    font-family: var(--font-narrow);
    flex-direction: column;
}

dl:not(:first-child) {
    margin-top: 1rem;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: .2rem 1rem;
}

dt {
    font-family: var(--font-body);
    font-weight: 600;
}

dd {
    margin: 0;
    align-content: center;
}

p {
    margin-block: .3rem;
    text-wrap: pretty;
}

p:first-child {
    margin-top: 0;
}

ul {
    margin-block: .3rem;
}

li {
    text-wrap: pretty;
}

/* *+p:first-of-type {
    margin-top: 1rem;
} */

/* Experiences */
h3 {
    /* font-family: var(--font-head); */
    font-family: var(--font-body);
    font-weight: bold;
    color: var(--color-main);
}

.institution,
.location,
.time {
    font-family: var(--font-body);
    color: var(--color-main-2);
}

.institution,
.location {
    font-size: .7rem;
}

.institution {
    font-weight: bold;
}

.location::before {
    content: "(";
}

.location::after {
    content: ")";
}

.time {
    margin-left: auto;
    font-size: .6rem;
    flex-shrink: 0;
}

/* Tags */
.tags {
    display: flex;
    gap: .3rem .4rem;
    align-items: start;
    flex-wrap: wrap;
    margin-block: .5rem;

    font-family: var(--font-mono);
    font-size: .6rem;
    font-weight: bold;
}

.tags li {
    color: var(--color-main-2);
    padding: .2rem .4rem;
    border-radius: 4px;
}

.main .tags li {
    background-color: var(--color-main-4);
}

.aside .tags li {
    background-color: white;
}

/* Last updated */
.last-updated {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-style: italic;
    color: var(--color-main-3);
    font-size: .6rem;
}

/* Utils */
.space-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.certificated {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.certificated a {
    font-size: .6rem;
    color: var(--color-main-3);
    text-transform: uppercase;
}

dd.certificated {
    flex-direction: revert;
    justify-content: space-between;
}

.indent {
    text-indent: .5rem;
}

.narrow-2 {
    letter-spacing: -.2px;
}

.narrow-5 {
    letter-spacing: -.5px;
}

/* List Condensed */
/* .list-condensed {
    font-family: var(--font-mono);
} */

/* List Chronological */

.list-chronological {
    list-style: circle none outside;
    padding-left: 1rem;
    position: relative;
    --padding-left: 1rem;
    --bullet-size: .6rem;
    --translate-y: .3rem;
}

.list-chronological::before {
    content: "";
    position: absolute;
    top: var(--translate-y);
    bottom: 0;
    left: calc(var(--bullet-size) / 2);
    border-left: 2px solid var(--color-main-3);
}

.list-chronological>li::before {
    content: "";
    position: absolute;
    width: var(--bullet-size);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    background-color: white;
    transform: translate(calc(-1 * var(--padding-left)), var(--translate-y));
}

.list-chronological>li:not(:last-child) {
    margin-bottom: 1rem;
}

/* List Regular */

.list-regular {
    list-style: disc none outside;
    list-style-type: disc;
    padding-left: var(--padding-left);
    --padding-left: 1rem;
    --translate-y: .4rem;
}

.list-regular>li::before {
    content: "";
    position: absolute;
    width: .3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-main);
    transform: translate(calc(-.8 * var(--padding-left)), var(--translate-y));
}

.list-regular>li:not(:last-child) {
    margin-bottom: .5rem;
}

ul .list-regular>li:not(:last-child) {
    margin-bottom: 0;
}