:root {
  /* Colors */
  --hue: 150;

  --color-main: oklch(35% 0.09 var(--hue));
  --color-main-2: oklch(50% 0.06 var(--hue));
  --color-main-3: oklch(65% 0.03 var(--hue));
  --color-main-4: oklch(95% 0.005 var(--hue));

  --color-main-transparent: oklch(35% 0.09 var(--hue) / 20%);

  --color-text-1: oklch(25% 0.005 var(--hue));
  --color-text-2: oklch(55% 0.005 var(--hue));

  /* Typography */
  --font-head: "Montserrat";
  --font-body: "Roboto";
  --font-narrow: "Roboto Condensed";
  --font-mono: "Roboto Mono";

  /* Spacing */
  --a-padding: 2px;
}

body {
  background-color: oklch(99% 0.01 var(--hue));
  background-image: linear-gradient(135deg, oklch(99% 0.01 var(--hue)) 0%, oklch(99% 0.004 var(--hue)) 100%);
}

@media print {
  body {
    background-color: unset;
    background-image: unset;
  }
}

strong {
  font-weight: bold;
}

small {
  font-size: 85%;
  color: var(--color-text-2);
}

a {
  position: relative;
  text-decoration: none;
  background: linear-gradient(var(--color-main-transparent) 0%, var(--color-main-transparent) calc(100% - 2px), transparent calc(100% - 2px), transparent 100%);
  transition: background-size 300ms ease;
  background-size: 100% 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: var(--a-padding);
}

a:hover {
  background-size: 100% 100%;
}

p {
  margin-block: .3rem;
  text-wrap: pretty;
}

p:first-child {
  margin-top: 0;
}

ul {
  margin-block: .3rem;
}

li {
  text-wrap: pretty;
}

/* .inline-code {
  font-weight: 600;
  color: var(--color-main-2);
  font-family: var(--font-mono);
  font-size: .8rem;
} */

@media print {
  .no-print {
    display: none !important;
  }
}