:root {
  /* Colors */
  --hue: 150;

  --color-main: oklch(35% 0.09 var(--hue));
  --color-main-2: oklch(50% 0.06 var(--hue));
  --color-main-3: oklch(65% 0.03 var(--hue));
  --color-main-4: oklch(95% 0.005 var(--hue));

  --color-main-transparent: oklch(35% 0.09 var(--hue) / 20%);

  --color-text-1: oklch(25% 0.005 var(--hue));
  --color-text-2: oklch(55% 0.005 var(--hue));

  /* Typography */
  --font-head: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  --font-body: "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-narrow: "Roboto Condensed", "Arial Narrow", Arial, sans-serif;
  --font-mono: "Roboto Mono", ui-monospace, Consolas, "Courier New", monospace;

  /* Spacing */
  --a-padding: 2px;
  --border-radius: 4px;
}

html {
    /* This has to be in the root element (html) so 'rem' all over the app is relative to it */
    font-size: 14px;
}

body {
  background-color: oklch(99% 0.01 var(--hue));
  background-image: linear-gradient(135deg, oklch(99% 0.01 var(--hue)) 0%, oklch(99% 0.004 var(--hue)) 100%);
}

@media print {
  body {
    background-color: unset;
    background-image: unset;
  }
}

strong {
  font-weight: bold;
}

small {
  font-size: .8rem;
  color: var(--color-text-2);
}

a,
.a-like {
  border-radius: var(--border-radius);
  transition: background-size 150ms ease;
  background: linear-gradient(var(--color-main-transparent) 0%,
      var(--color-main-transparent) 100%);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

a.active,
a:hover,
.a-like.active,
.a-like:hover {
  background-size: 100% 100%;
}

a {
  padding: var(--a-padding) var(--a-padding) 0;
  text-decoration: none;
}

.a-like {
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  font-size: .8rem;
  color: var(--color-text-2);
}

p {
  margin-block: .3rem;
}

p:first-child {
  margin-top: 0;
}

ul {
  margin-block: .3rem;
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: revert;
  }
}